<article id="{{name}}">
    <h2>{{name}}</h2>
    {{#with description}}
        {{> description }}
    {{/with}}

    {{#ifEquals kind "enum"}}
        <h4>Members</h4>
    {{else}}
        <h4>Methods</h4>
    {{/ifEquals}}

    {{#each members.global}}
        {{> method parent=../name}}
    {{/each}}

    {{#each members.inner}}
        {{> method parent=../name }}
    {{/each}}

    {{#each members.instance}}
        {{> method parent=../name }}
    {{/each}}

    {{#each members.events}}
        {{> method parent=../name }}
    {{/each}}

    {{#each members.static}}
        {{> method parent=../name }}
    {{/each}}
</article>
