{{!-- Inefficient switch statement --}}
{{#ifEquals type "link"}}
    <a href="{{url}}">
        {{#each children}}
            {{> description }}
        {{/each}}
    </a>
{{/ifEquals}}
{{#ifEquals type "text"}}
    {{value}}
{{/ifEquals}}
{{#ifEquals type "paragraph"}}
    <p>
        {{#each children}}
            {{> description }}
        {{/each}}
    </p>
{{/ifEquals}}
{{#ifEquals type "root"}}
    {{#each children}}
        {{> description }}
    {{/each}}
{{/ifEquals}}
{{#ifEquals type "inlineCode"}}
    <code>{{value}}</code>
{{/ifEquals}}



