<!doctype html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <title>Some documentation of some sort</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="index.css" rel="stylesheet">
</head>
<body>
    <header>
        <img alt="some forio icon" />
        <div class="banner">
            This is my Documentation
        </div>
    </header>
    <nav>
        <ul>
            {{#each apis}}
                {{> apiLink }}
            {{/each}}
        </ul>
    </nav>
    <main>
        {{#each apis}}
            {{> apiDocumentation }}
        {{/each}}
    </main>
</body>
</html>
