<!doctype html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <title>Some documentation of some sort</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/highlight/a11y-light.css" rel="stylesheet">
</head>
<body>
    <header>
        <img src="https://s3.amazonaws.com/cdn-common.forio.com/marketing/Epicenter/common/epicenter-logo-white.svg" />
        <div class="banner">
            Epicenter
        </div>
    </header>
    <nav>
        <ul>
            {{#each apis}}
                {{> apiLink }}
            {{/each}}
        </ul>
    </nav>
    <main>
        {{#each apis}}
            {{~> api }}
        {{/each}}
    </main>
</body>
<script src="js/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</html>
