<article id="{{parent}}-{{name}}">
    <h3>{{name}}</h3>
    {{#with description}}
        {{> description }}
    {{/with}}
    {{#if params}}
        <article class="parameters">
            <h4>Parameters</h4>
            <ul>
                {{#each params}}
                    <li>
                        {{> param}}
                    </li>
                {{/each}}
            </ul>
        </article>
    {{/if}}
    {{#if returns}}
        <article class="returns">
            <h4>Returns</h4>
            <code class="type">object</code>:
            {{#with description}}
                {{> description }}
            {{/with}}
        </article>
    {{/if}}
    {{#if example}}
        <article class="example">
            <h4>Example</h4>
            <pre>
                <code>
                    const { runAdapter } = epicenter;
                    runAdapter.create('myModel.py', {
                        scopeBoundary: 'world',
                        scopeKey: '123214',
                        psuedenymKey: '2314',
                    });
                </code>
            </pre>
        </article>
    {{/if}}
</article>
