(<code class="type">
    {{~#ifEquals type "OptionalType"~}}
        {{~expression.name}}
    {{~else~}}
        {{~name}}
    {{~/ifEquals~}}
    {{~#if default}} = {{default}}{{/if~}}
</code>)
{{#ifEquals type "OptionalType"}}
    <span class="optional">optional</span>
{{/ifEquals}}
{{#if default}}
    <span class="optional">optional</span>
{{/if}}
