.idea/
node_modules/
.DS_Store
*.log

# Parcel
.cache/
examples/**/dist/

# Debugging file for documentation generation
documentation.json
documentation.raw.json

# Distributable for documentation
documentation/web/index.html